node_modules/
/core/*.db
*.aab
*.ipa
yarn-error.log
core/output
notes
bible.db
NeÜ bibel.heute.ont
importers/src/NEUE/data
lib/
*ESV20*
*/dist/*
*bible.db
*.db
importers/scripts/NEUE
greek_lexicon.txt
hebrew_lexicon.txt
.DS_Store
tmp.ts
v11n-rules-old.tsv
bibles_big.db
bibles_default.db
.expo
esvSearchIndex.db
secrets.json
output
.env
ChiUns.zip
importers/scripts/data
importers/src/bible/NEUE/data
be-v11n-unsupported.log
importers/src/stepdata/v11n-rules/data/backup
client/lib-es6
core/lib-es6
temp.sqlite
mobile/
step-library/
