.vscode
node_modules/
/core/*.db
yarn-error.log
core/output
notes
bible.db
NeÜ bibel.heute.ont
importers/src/NEUE/data
lib/
*ESV20*
*/dist/*
*bible.db
bibles.db
importers/scripts/NEUE
greek_lexicon.txt
hebrew_lexicon.txt
.DS_Store
tmp.ts
v11n-rules-old.tsv
bibles_big.db
bibles_default.db
.expo
esvSearchIndex.json
