.vscode
node_modules/
/core/*.db
yarn-error.log
*.bei
*.beiz
core/output
notes
bible.db
NeÜ bibel.heute.ont
importers/src/NEUE/data
lib/
*ESV20*
*/dist/*
*bible.db
.DS_Store
*hebrew_lexicon.txt
*greek_lexicon.txt